img {
    width: 30%;
    margin: calc(10%/6);
}

body {
    margin: 0;
}

nav {
    font-family: Raleway, sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 2px #9103ea;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 2em 0 2em 0;
}