<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Editing comment</h1>
    <form method="POST" action="/comments/<%= comment.id%>?_method=PATCH">
        <textarea name="comment" id="" cols="30" rows="10">
        <%= comment.comment %>
    </textarea>
        <button>Sumbit</button>
    </form>
    <a href="/comments">index</a>
    <form action="/comments/<%= comment.id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
</body>

</html>